Creating a dataframe

In [6]:
import pandas as pd
df1=pd.read_csv(r'/Users/algo trading 2025/batch 30 hindi/9_data_analysis/sp500.csv')
df1

                           Name                  Sector   Price    EPS
0                     Apple Inc  Information Technology  170.12   9.20
1                    Abbvie Inc             Health Care   93.29   5.31
2           Abbott Laboratories             Health Care   55.28   2.41
3                 Accenture Plc  Information Technology  145.30   5.91
4                  Allergan Plc             Health Care  171.81  15.42
..                          ...                     ...     ...    ...
97   Verizon Communications Inc      Telecommunications   45.85   3.75
98     Walgreens Boots Alliance        Consumer Staples   70.25   5.10
99        Wells Fargo & Company              Financials   54.02   4.14
100             Wal-Mart Stores        Consumer Staples   96.08   4.36
101            Exxon Mobil Corp                  Energy   80.31   3.56

[102 rows x 4 columns]

In [3]:
stock=[
    {"name":'apple' ,'price':300 ,'sector':'tech'},
    {"name":'ongc' ,'price':500 ,'sector':'oil'},
    {"name":'artil' ,'price':400 ,'sector':'oil',}
]
df1=pd.DataFrame(stock)
df1

    name  price sector
0  apple    300   tech
1   ongc    500    oil
2  artil    400    oil

In [6]:
stock={
    'name':['aapl','ongc','artil','tsla'],
    'price':['300','500','900','200'],
    'sector':['tech','oil','telecom','vehi']
}
df2=pd.DataFrame(stock)
df2

    name price   sector
0   aapl   300     tech
1   ongc   500      oil
2  artil   900  telecom
3   tsla   200     vehi

In [8]:

data=[ [7 ,6, 3, 0],[8, 1, 2, 0],[9 ,4 ,9 ,5],[8, 6, 7 ,6] ]
print(data)
df = pd.DataFrame(
  data,
  index = ["a","b","c","d"],
  columns = ["col_a","col_b","col_c","col_d"]
  )

print(df)

[[7, 6, 3, 0], [8, 1, 2, 0], [9, 4, 9, 5], [8, 6, 7, 6]]
   col_a  col_b  col_c  col_d
a      7      6      3      0
b      8      1      2      0
c      9      4      9      5
d      8      6      7      6

In [9]:
import numpy as np
data=np.random.randint(10, size=(4,4))
print(data)
df = pd.DataFrame(
  data,
  index = ["a","b","c","d"],
  columns = ["col_a","col_b","col_c","col_d"]
  )

print(df)

[[8 3 8 5]
 [1 4 7 2]
 [6 7 2 4]
 [8 8 2 2]]
   col_a  col_b  col_c  col_d
a      8      3      8      5
b      1      4      7      2
c      6      7      2      4
d      8      8      2      2

In [7]:
pd.read_excel(r'/Users/algo trading 2025/batch 30 hindi/9_data_analysis/sample1.xlsx')

                        Apple Inc  Information Technology  170.12    9.2
0                      Abbvie Inc             Health Care   93.29   5.31
1             Abbott Laboratories             Health Care   55.28   2.41
2                   Accenture Plc  Information Technology  145.30   5.91
3                    Allergan Plc             Health Care  171.81  15.42
4    American International Group              Financials   59.50   2.51
..                            ...                     ...     ...    ...
96     Verizon Communications Inc      Telecommunications   45.85   3.75
97       Walgreens Boots Alliance        Consumer Staples   70.25   5.10
98          Wells Fargo & Company              Financials   54.02   4.14
99                Wal-Mart Stores        Consumer Staples   96.08   4.36
100              Exxon Mobil Corp                  Energy   80.31   3.56

[101 rows x 4 columns]

In [ ]:
import os
import certifi
os.environ['SSL_CERT_FILE'] = certifi.where()

import pandas as pd
pd.read_html('https://en.wikipedia.org/wiki/NIFTY_50')[1]

,Company name,Symbol,Sector[15],Date added[16]
0,Adani Enterprises,ADANIENT,Metals & Mining,30 September 2022
1,Adani Ports & SEZ,ADANIPORTS,Services,28 September 2015
2,Apollo Hospitals,APOLLOHOSP,Healthcare,31 March 2022
3,Asian Paints,ASIANPAINT,Consumer Durables,27 April 2012[a]
4,Axis Bank,AXISBANK,Financial Services,27 March 2009
5,Bajaj Auto,BAJAJ-AUTO,Automobile and Auto Components,1 October 2010[b]
6,Bajaj Finance,BAJFINANCE,Financial Services,29 September 2017
7,Bajaj Finserv,BAJAJFINSV,Financial Services,2 April 2018
8,Bharat Electronics,BEL,Capital Goods,30 September 2024
9,Bharat Petroleum,BPCL,"Oil, Gas & Consumable Fuels",28 October 2002[c]
10,Bharti Airtel,BHARTIARTL,Telecommunication,1 March 2004
11,Britannia Industries,BRITANNIA,Fast Moving Consumer Goods,29 March 2019[d]
12,Cipla,CIPLA,Healthcare,7 October 1998
13,Coal India,COALINDIA,"Oil, Gas & Consumable Fuels",10 October 2011
14,Dr. Reddy's Laboratories,DRREDDY,Healthcare,1 October 2010[e]
15,Eicher Motors,EICHERMOT,Automobile and Auto Components,1 April 2016
16,Grasim Industries,GRASIM,Construction Materials,2 April 2018[f]
17,HCLTech,HCLTECH,Information Technology,28 October 2002
18,HDFC Bank,HDFCBANK,Financial Services,22 April 1996
19,HDFC Life,HDFCLIFE,Financial Services,31 July 2020
20,Hero MotoCorp,HEROMOTOCO,Automobile and Auto Components,7 October 1998[g]
21,Hindalco Industries,HINDALCO,Metals & Mining,22 April 1996
22,Hindustan Unilever,HINDUNILVR,Fast Moving Consumer Goods,22 April 1996
23,ICICI Bank,ICICIBANK,Financial Services,25 January 2002
24,IndusInd Bank,INDUSINDBK,Financial Services,1 April 2013
25,Infosys,INFY,Information Technology,7 October 1998
26,ITC,ITC,Fast Moving Consumer Goods,22 April 1996
27,JSW Steel,JSWSTEEL,Metals & Mining,28 September 2018
28,Kotak Mahindra Bank,KOTAKBANK,Financial Services,8 April 2010
29,Larsen & Toubro,LT,Construction,10 December 2004[h]
30,Mahindra & Mahindra,M&M,Automobile and Auto Components,18 September 1996
31,Maruti Suzuki,MARUTI,Automobile and Auto Components,1 March 2004
32,Nestlé India,NESTLEIND,Fast Moving Consumer Goods,27 September 2019[i]
33,NTPC,NTPC,Power,24 September 2007
34,Oil and Natural Gas Corporation,ONGC,"Oil, Gas & Consumable Fuels",12 April 2004
35,Power Grid,POWERGRID,Power,14 March 2008
36,Reliance Industries,RELIANCE,"Oil, Gas & Consumable Fuels",22 April 1996
37,SBI Life Insurance Company,SBILIFE,Financial Services,25 September 2020
38,Shriram Finance,SHRIRAMFIN,Financial Services,28 March 2024
39,State Bank of India,SBIN,Financial Services,22 April 1996
40,Sun Pharma,SUNPHARMA,Healthcare,17 January 2002
41,Tata Consultancy Services,TCS,Information Technology,25 February 2005
42,Tata Consumer Products,TATACONSUM,Fast Moving Consumer Goods,31 March 2021[j]
43,Tata Motors,TATAMOTORS,Automobile and Auto Components,22 April 1996
44,Tata Steel,TATASTEEL,Metals & Mining,22 April 1996
45,Tech Mahindra,TECHM,Information Technology,28 March 2014
46,Titan Company,TITAN,Consumer Durables,2 April 2018
47,Trent,TRENT,Consumer Services,30 September 2024
48,UltraTech Cement,ULTRACEMCO,Construction Materials,28 September 2012
49,Wipro,WIPRO,Information Technology,27 September 2013[k]

In [ ]:
# !pip install openpyxl
# !pip freeze
# !pip install lxml
# !pip install certifi

Collecting lxml
  Using cached lxml-5.3.1-cp312-cp312-macosx_10_9_universal2.whl.metadata (3.7 kB)
Using cached lxml-5.3.1-cp312-cp312-macosx_10_9_universal2.whl (8.2 MB)
Installing collected packages: lxml
Successfully installed lxml-5.3.1